* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.container-limite {
    max-width: 1024px;
    margin: 0 auto;
}

.Dark header {
    background-color: #252525;
}

.Dark button {
    border: 1px solid #fff;
}

.Dark .banner {
    background-color: #252525;
}

.Dark .secao-experiencia {
    background-color: #393838;
}

.Dark .secao-experiencia h2, .Dark .secao-experiencia p{
    color: #CCCCCC;
}

.Dark .secao-card {
    background-color: #393838;
}

.Dark .secao-card .card {
    border:1px solid #ffffff0D;
}

.Dark .card p {
    color: #9F9F9F;
}

.Dark .card h4 {
    color: #ffffff;
}

.Dark footer {
    background-color: #252525;
}

.Dark .rodape-ro {
    border-top: 1px solid #ffffff0d;
}